body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 800;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  color: #333;
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}
